
*{
	margin: 0;
}
header{
	width: 100%;
	height: auto;
	background: #e74c3c;
	background-color: #FFEB3B;
}

.titulo{
	text-align: center;
	margin: auto;
	height: 30px;
	width: 500px;
	padding: 20px;
	font: 30px 'Acme', sans-serif;
	color: white;
	text-shadow: 0px 10px 40px gray;
}

.preferencias{
	padding: 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
	color: black;
}

#divPreferencias{
	box-shadow: 0px 20px 15px gray;
	background-color: #FFEB3B;
	margin-top: 0px;
	text-align: center;
}

#divPreferencias h3{
	padding: 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
	color: black;
}
#divPreferencias form{
	padding: 0;
}

input#enviar{
	border-radius: 5px;
	border: none;
	background: #F69306;
	margin-top: 100%;
	width: 90%;
	font-family: 'Ubuntu Condensed', sans-serif;
	color: white;
	font-size: 30px;
}

input#enviar:hover{
	cursor: pointer;
}
		
.botonInput{
	width: 90%;
	border: none;	
	border-radius: 5px;
	background: #d35400;
	padding: 15px;
	margin-top: 45%;
	color: white;
}
.botonInput:hover{
	cursor: pointer;
}

input{
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
}

.radioButton{
	padding: 20px;
}
.radioButton input{
	margin-top: 5px;
	transform: scale(1.5);
}
form span label{
	font-family: 'Acme', sans-serif;
	font-family: 'Ubuntu Condensed', sans-serif;
}

form span input:hover{
	cursor: pointer;
}
form span label:hover{
	cursor: pointer;
}

.hvr-buzz:hover{
	box-shadow: 0px 1px 2px  black;
}
.contenedor{
	background-color: red;
	display: flex;
	width: 100%;
	height: 89vh;
}

#divChoferes table{
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	
#divChoferes td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	
#divChoferes tr:nth-child(even) {
		background-color: #a0cc80;
	}

#tableChoferes	td:hover {
		background-color: grey;
	  }


#estrellasClasificacion label {
		font-size: 20px;
	  }

#estrellasClasificacion input[type="radio"] {
	display: none;
  }
  
#estrellasClasificacion  label {
	color: grey;
  }
  
.clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
  }
  
#estrellasClasificacion  label:hover,
#estrellasClasificacion  label:hover ~ label {
	color: orange;
  }
  
#estrellasClasificacion  input[type="radio"]:checked ~ label {
	color: orange;
  }