
*{
	margin: 0;
}
header{
	width: 100%;
	height: auto;
	background: #e74c3c;
	background-color: #FFEB3B;
}

.titulo{
	text-align: center;
	margin: auto;
	height: 30px;
	width: 500px;
	padding: 20px;
	font: 30px 'Acme', sans-serif;
	color: white;
	text-shadow: 0px 10px 40px gray;
}
#divPreferencias{
	box-shadow: 0px 20px 15px gray;
	/*margin-top: 300px;*/
	width: 300px;
	background-color: #FFEB3B;
	/*margin: auto;*/
	margin-top: 0px;
	text-align: center;
}
#divPreferencias h3{
	padding: 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
	/*font: 20px 'Acme', sans-serif ;*/
	color: black;
}
#divPreferencias form{
	padding: 0;
}

input#enviar{
	border-radius: 5px;
	border: none;
	background: #F69306;
	margin-top: 100%;
	width: 90%;
	font-family: 'Ubuntu Condensed', sans-serif;
	color: white;
	font-size: 30px;
}

input#enviar:hover{
	cursor: pointer;
}
		
.botonInput{
	width: 90%;
	border: none;	
	border-radius: 5px;
	background: #d35400;
	padding: 15px;
	margin-top: 45%;
	color: white;
}
.botonInput:hover{
	cursor: pointer;
}

input{
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
}

.radioButton{
	padding: 20px;
}
.radioButton input{
	margin-top: 5px;
	transform: scale(1.5);
}
form span label{
	font-family: 'Acme', sans-serif;
	font-family: 'Ubuntu Condensed', sans-serif;
}

form span input:hover{
	cursor: pointer;
}
form span label:hover{
	cursor: pointer;
}


.hvr-buzz:hover{
	box-shadow: 0px 1px 2px  black;
}
.contenedor{
	background-color: red;
	display: flex;
	width: 100%;
	height: 89vh;
}