body {
  font-family: Courier, "Lucida Console", monospace
}

#map {
  background: #CCC;
  /* display: inline-block;*/

  /*width: 500px;*/
  /*height: 500px;*/

  position: absolute;
  border: 1px solid #AAA;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 7px;

}

/*#detail {
  float: right;

  border: 1px solid #DDD;

  width: 500px;
  height: 200px;

  overflow: auto;

  padding: 7px;
  margin: 0 15px;
}*/
